{# templates/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Transcripci贸n de WAV{% endblock %}

{% block body %}
    <div class="mt-5">
        <h1 class="mb-4">Subir archivo WAV para transcripci贸n</h1>
        <form action="{{ path('upload_file') }}" method="post" enctype="multipart/form-data" class="mb-4">
            <div class="mb-3">
                <input type="file" name="file" accept=".wav" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Subir y Transcribir</button>
        </form>
        {% if transcription is defined %}
            <div id="transcription" class="mt-4">
                <h2>Transcripci贸n:</h2>
                <pre>{{ transcription }}</pre>
                <a href="{{ download_link }}" class="btn btn-success mt-2">Descargar Transcripci贸n</a>
            </div>
        {% endif %}
    </div>
{% endblock %}